.seccion-proyectos{
    margin: auto;
    width:100%;
    height: auto;/*tamaño completa de la pántalla en la parte de abjo*/
    justify-content: center;/*centra los item es la parte superior*/
    align-items: center;/*centra e la parate media de los contenedores*/
    display: flex;/*elemetos flexibles */
    /*justify-content: center;jsutifica todo los contenidos de los contenedores*/
    grid-template-columns: repeat(1,1fr);


}
.titulo{
    position: absolute;
    top: 70px;
}

/*seccion de los items-grid*/
.contenedor-grid{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 120PX;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.item-grid{
    margin: 10px;
    padding: 0;
    width: 40%;
    transition: all 600ms;
}
.item-contenido:hover{
    transform: scale(1.05);
}
.item-contenido{
    position: relative;
    transition: all 600ms;
}
.imagen{
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.activo{
    display: flex;
}
.descripcion{
    display: block;
    background: white;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    max-width: 50%;
}
.overlay-imagen{
    width: 750px;
}
.overlay-img{
    position: relative;
}
.cerrar{
    position: absolute;
    background: none;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: -28px;
    top: -28px;
}

/*seccion de prueba*/
.container-p{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item-p{
    width: 40%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all 1000ms;
    position: relative;
}
.capa-discripcion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s linear ;
    opacity: 0;
    cursor: pointer;
    margin-top: 20%;
    border-radius:20px ;
}
.capa-discripcion:hover{
    background: rgba(0, 0, 0, 0.863);
    opacity: 1;
    color: white;
    margin-top: 0;
}

.item-p img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
